<!-- testapp 1 -->
{{ define "testapp01"}} {{ template "header"}}

<h1>Test App 01</h1>
{{ . }} {{ template "addUserForm" . }} {{ template "footer" }} {{ end }}
<!-- testapp 2 -->
{{ define "testapp02"}} {{ template "header"}}

<h1>Test App 02</h1>
{{ template "addUserForm" . }} {{ template "footer" }} {{ end }}

<!-- testapp 3 -->
{{ define "testapp03"}} {{ template "header"}}

<h1>Test App 03</h1>
{{ template "addUserForm" . }} {{ template "footer" }} {{ end }}


<!-- testapp 3 -->
{{ define "addUserForm" }}
<h3>Add application to account struct</h3>
<form id="addUserForm">
  <label for="Mail">Customer Email</label> <input type="text" value="test@example.com" name="Mail" id="Mail">
  <br>
  <input type="hidden" value="{{ .Application.ApplicationID }}" name="ApplicationID">
  <input type="submit" value="Submit">
</form>

{{ template "childDataForm" .Application.ApplicationID }} {{ end }}

<!-- Add child data to application -->
{{ define "childDataForm" }}
<h3>Add application child data</h3>
<label for="childDataForm">Application Child Field</label>
<form id="childDataForm">
  <br>
  <input type="text" name="FieldName" id="FieldName" placeholder="enter application child field name">
  <br>
  <input type="text" name="FieldVal" id="FieldVal" placeholder="enter application child field value">
  <input type="hidden" value="{{ . }}" name="ApplicationID">
  <input type="submit" value="Submit">
</form>
<br> {{ end }}

<!-- dynamicField form -->
{{ define "dynamicFields" }}

<label for="dynamicField">Dynamic Field</label>
<form id="dynamicField">
  <br>
  <input type="text" name="dynamicFieldName" id="dynamicFieldName" placeholder="enter dynamic field name">
  <br>
  <input type="text" name="dynamicFieldVal" id="dynamicFieldVal" placeholder="enter dynamic field name">
  <input type="hidden" value="{{ .ApplicationID }}" name="ApplicationID">
  <input type="submit" value="Submit">
</form>
<br> {{ end }}
